<div class="home-container">
  <div class="sg-block">
    <h3>Created Projects</h3>
    <mat-card class="sg-list-block">
      <mat-action-list>
        <div *ngFor="let project of ownProjects" class="sg-list-item">
          <button style="text-align:left" mat-list-item (click)="redirectTo('/project/' + project.id)">
            <div class="list-icon" mat-list-icon>{{getFirstLetters(project.name)}}</div>
            <div mat-line class="sg-button-line">
              <h4>{{project.name}}</h4>
              <p class="description">{{project.description}}</p>
            </div>
          </button>
          <button mat-button [matMenuTriggerFor]="cprojectMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #cprojectMenu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item (click)="openProjectDialog(project)"><mat-icon>edit</mat-icon> Edit</button>
            <button mat-menu-item (click)="deleteProject(project)"><mat-icon>delete</mat-icon> Delete</button>
          </mat-menu>

          <mat-divider></mat-divider>
        </div>
      </mat-action-list>

      <div *ngIf="!ownProjects || ownProjects.length == 0">
        <p>You have no created project at the moment.</p>
      </div>
    </mat-card>
  </div>

  <div class="sg-block">
    <h3>Collaboration Projects</h3>
    <mat-card class="sg-list-block">
      <mat-action-list>
        <div *ngFor="let project of collaborationProjects" class="sg-list-item">
          <button style="text-align:left" mat-list-item (click)="redirectTo('/project/' + project.id)">
            <div class="list-icon" mat-list-icon>{{getFirstLetters(project.name)}}</div>
            <div mat-line class="sg-button-line">
              <h4>{{project.name}}</h4>
              <p class="description">{{project.description}}</p>
            </div>
          </button>
          <button mat-button [matMenuTriggerFor]="projectMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #projectMenu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item (click)="openProjectDialog(project)"><mat-icon>edit</mat-icon> Edit</button>
            <button mat-menu-item><mat-icon>clear</mat-icon> Leave project</button>
          </mat-menu>
          <mat-divider></mat-divider>
        </div>
      </mat-action-list>

      <div *ngIf="!collaborationProjects || collaborationProjects.length == 0">
        <p >You have no collaboration project at the moment.</p>
      </div>
    </mat-card>
  </div>

</div>
