.project-container {
  height: 100%;
  .loading {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    mat-spinner {
      margin: auto;
    }
  }

  mat-sidenav {
      width: 400px;
      display: flex;
      flex-direction: column;
      // overflow-y:scroll;

      mat-toolbar {
        .project-title {
          max-width: 300px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 14px;

          span {
            font-weight: bold;
          }
        }
      }

      .kb-title {
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
  }

  mat-sidenav-container {
    height: 100%;
    overflow: hidden;
    display: flex;
  }

  mat-sidenav-content {
    width: 100%;
  }
}


mat-card-actions {
  display: flex;
}

mat-card {
  mat-icon {
    width: 30px;
    height: 30px;
    font-size: 30px;
  }
}

mat-expansion-panel-header {
  padding: 0px 16px;
}

mat-panel-title {
  mat-icon {
    height: 30px;
    width: 30px;
    line-height: 30px;
  }
}
