<div class="project-container">
  <div class="loading" *ngIf="loading">
    <mat-spinner mode="indeterminate"></mat-spinner>
  </div>
  <mat-sidenav-container *ngIf="!loading">
    <mat-sidenav mode="side" opened="true" class="mat-elevation-z3">
      <mat-toolbar color="primary" style="height:40px;min-height:40px">
        <div class="project-title"><span style="font-weight:bold">Project:</span> {{project.name}}</div>
        <span class="spacer"></span>
        <button mat-icon-button (click)="exportProjectToFile(fileExport)" matTooltip="Export project to JSON file">
          <mat-icon>cloud_download</mat-icon>
          <a #fileExport title="Download JSON" [href]="downloadJsonHref" download="{{project.name}}.json"></a>
        </button>
        <button mat-icon-button matTooltip="Import project from local file" (click)="fileImportInput.click()">
          <mat-icon>attachment</mat-icon>
          <input #fileImportInput type="file" (change)="importProjectFromFile($event)" style="display:none;" accept=".json" />
        </button>

        <button  mat-icon-button [matMenuTriggerFor]="addAgentUsermenu" matTooltip="Add agent">
          <mat-icon>person_add</mat-icon>
        </button>
        <mat-menu #addAgentUsermenu="matMenu" [overlapTrigger]="false">
          <button mat-menu-item (click)="addOrEditLocalAgent()"><mat-icon>person_add</mat-icon> Add local agent</button>
          <button *ngIf="agent" mat-menu-item disabled><mat-icon>person_add</mat-icon> Invite a user</button>
        </mat-menu>

        <!-- <span class="spacer"></span> -->
      </mat-toolbar>

      <div>
      <mat-card style="margin-bottom: 16px;">
        <mat-card-header>
          <mat-icon mat-card-avatar color="primary">gavel</mat-icon>
          <mat-card-title>Reasoning</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <mat-form-field style="width: 100%">
            <textarea matInput placeholder="Query" [(ngModel)]="project.query"></textarea>
          </mat-form-field>

          <mat-select placeholder="Semantics" name="semantics" [(ngModel)] = "project.semantic">
            <mat-option *ngFor="let semantic of semantics" [value]="semantic.value">
              {{semantic.name}}
            </mat-option>
          </mat-select>
        </mat-card-content>

        <mat-card-actions>
          <button mat-flat-button color="primary" (click)="build()">BUILD</button>
          <span class="spacer"></span>
          <button mat-flat-button color="primary" (click)="answerQuery()">QUERY</button>
        </mat-card-actions>
      </mat-card>


      <mat-toolbar color="primary" style="height:40px;min-height:40px">
        <div class="project-title"><span>Agent's Knowledge</span></div>
        <span class="spacer"></span>
        <button mat-icon-button matTooltip="Select/Deselect All" (click)="selectAllKBs()">
          <mat-icon>done_all</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Save All" (click)="saveAllKBs()">
          <mat-icon>save</mat-icon>
        </button>
      </mat-toolbar>

      <mat-accordion multi="true">
        <mat-expansion-panel *ngFor="let kb of project.kbs; let index = index"
                             expanded="{{kb.type === 'common'}}">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon *ngIf="kb.type === 'common'" mat-card-avatar>language</mat-icon>
              <mat-icon *ngIf="kb.type !== 'common'" mat-card-avatar>person</mat-icon>
              <span *ngIf="kb.type === 'common'" class="kb-title">{{kb.source + " Knowledge"}}</span><span *ngIf="kb.type !== 'common'" class="kb-title">{{kb.source + "'s  Knowledge"}}</span>
            </mat-panel-title>
            <mat-panel-description>
              <span class="spacer"></span>
              <mat-checkbox [(ngModel)]="kb.selected"  (click)="$event.stopPropagation();"></mat-checkbox>

              <button mat-icon-button (click)="$event.stopPropagation();" [matMenuTriggerFor]="menu">
                <mat-icon style="height:30px">more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="addOrEditLocalAgent(kb)">
                  <mat-icon>edit</mat-icon>
                  <span>Edit agent Information</span>
                </button>
                <button mat-menu-item (click)="fileImportInput.click()" disabled>
                  <mat-icon>attachment</mat-icon>
                  <input [disabled]="kb.locked" #fileImportInput type="file" (change)="onFileInput($event)" style="display:none;" accept=".dlgp" />
                  <span>Import from dlgp file</span>
                </button>
                <button mat-menu-item (click)="deleteKB(kb)">
                  <mat-icon>delete</mat-icon>
                  <span>Remove agent</span>
                </button>
              </mat-menu>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field style="width: 100%">
            <textarea matInput rows="10" [(ngModel)]="kb.dlgp" [disabled]="kb.locked"></textarea>
          </mat-form-field>

          <div style="display:flex">
            <button mat-button color="warn" (click)="getKB(kb.id)">
              <mat-icon>undo</mat-icon>
              <span>UNDO</span>
            </button>
            <span class="spacer"></span>
            <button mat-button color="primary" (click)="saveKB(kb)">
              <mat-icon >save</mat-icon>
              <span>SAVE</span>
            </button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      </div>

    </mat-sidenav>

    <mat-sidenav-content>
      <sg-display></sg-display>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
