<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content style="display:flex; flex-direction: column">
  <form [formGroup]='usersForm'>
    <mat-form-field style="width:200px">
      <input matInput (keydown)="onKeyDown($event)"
        placeholder="Username" [matAutocomplete]="auto" formControlName='userInput'>
    </mat-form-field>

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let user of filteredUsers" [value]="user">
          {{ user }}
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="close()">CLOSE</button>
  <span class="spacer"></span>
  <button mat-raised-button color="primary" (click)="invite()">CONFIRM</button>
</mat-dialog-actions>
