<h2 mat-dialog-title>Login</h2>

<mat-dialog-content  style="display:flex; flex-direction: column">
  <button mat-raised-button disabled><img width="16" height="16" style="margin-right: 5px" src="https://d3ptyyxy2at9ui.cloudfront.net/google-41de20.svg"> Login with Google Account</button>
  <button mat-raised-button disabled><img width="16" height="16" style="margin-right: 5px" src="https://d3ptyyxy2at9ui.cloudfront.net/facebook-fadd25.svg"> Login with Facebook Account</button>

  <div class="separator">
    <div class="separator-middle">or</div>
  </div>

  <form class="login-form">
    <mat-form-field>
      <input  matInput  placeholder="Username or Email"  name="username" [(ngModel)]="loginInfo.username" [formControl]="usernameControl" required>
      <mat-error *ngIf="usernameControl.hasError('required')">
        Username or email are <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input  matInput  type="password" placeholder="Password"  name="password" [(ngModel)]="loginInfo.password" [formControl]="passwordControl" required>
      <mat-error *ngIf="passwordControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="passwordControl.hasError('minLength')">
        Password needs to be at least <strong>6</strong> characters.
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions style="display:flex; flex-direction:row">
  <button mat-raised-button color="primary" cdkFocusInitial style="flex:1" (click)="login()"
  [disabled]="usernameControl.invalid || passwordControl.invalid">LOGIN</button>
</mat-dialog-actions>
