<div class="app-container">
<mat-toolbar color="primary" style="z-index:2" class="mat-elevation-z4">
  <button mat-button (click)="redirectTo('/home')" style="font-size:20px;padding-left:0px">
  <img src="./assets/damn-logo-white.svg">
  {{title}}
  </button>

  <span class="spacer"></span>
  <button mat-button (click)="redirectTo('/home')">Home</button>
  <button *ngIf="!agent" mat-button (click)="openLoginDialog()">Log in</button>
  <button *ngIf="!agent" mat-button (click)="openRegisterDialog()">Sign up</button>

  <button *ngIf="agent" mat-button (click)="openProjectDialog()"><mat-icon>add_circle_outline</mat-icon> New Project</button>
  <button *ngIf="agent" mat-button (click)="redirectTo('/dashboard')"><mat-icon>dashboard</mat-icon> Dashboard</button>


  <button *ngIf="agent" mat-button [matMenuTriggerFor]="profilemenu" matTooltip="Profile">
    <mat-icon>person</mat-icon>
    {{agent.username |titlecase }}
  </button>
  <mat-menu #profilemenu="matMenu" [overlapTrigger]="false">
    <button *ngIf="agent" mat-menu-item (click)="logout()"><mat-icon>power_settings_new</mat-icon> Logout</button>
  </mat-menu>


  <button mat-button [matMenuTriggerFor]="thememenu" matTooltip="Theme">
    <mat-icon>format_color_fill</mat-icon>
  </button>
  <mat-menu #thememenu="matMenu" [overlapTrigger]="false" color="primary">
    <button *ngFor="let theme of themes" mat-menu-item (click)="setTheme(theme.value)">{{theme.title}}</button>
  </mat-menu>
  <button mat-button (click)="openHelpDialog()" matTooltip="Help"><mat-icon>help_outline</mat-icon> Help</button>
</mat-toolbar>

<div class="main-container">
  <router-outlet></router-outlet>
</div>

</div>
