
.chart-outer-container {
  font-family: 'Fira Sans', sans-serif;

  height: 100%;
  overflow: hidden;

  .chart-container {


    .node {
      text {
        font-size: 12px;
        font-weight: bold;
      }

      .node-label {
        text {
          font-size: 10px;
        }
        rect {
          fill: none;
        }
      }
    }

    .edge {
      stroke-width: 2.5;
      text{
        font-weight: bold;
      }
      path.support {
        stroke-dasharray: 5;
      }
    }
  }
}



:host-context(.light-theme) .chart-outer-container {
  $color-bg: white;
  $color-node-text: #fff;
  $color-tooltip: white;

  $edge-color: #666; //#666;
  $statement-color: #3E50B4;//#3F51B5; //#66BD6D
  $claim-color: #2095F2; //#7C4DFF; //#7C4DFF; //#E1BEE7; //#55ACD2;
  $fact-color: #663AB6;//#7B1FA2; //#29BB9C;

  $INstr: #66BD6D;
  $INdef: #29BB9C;
  $OUTstr: #E96B56;
  $OUTdef: #E96B56;
  $AMBIG: #FAA026;
  $UNSUP: #E96B56;



  background: $color-bg;

  .ngx-graph {
    .tooltip-anchor {
      fill: $color-tooltip;
    }
  }

  .chart-container{
    .node {
      text {fill: $color-node-text;}
      rect.statement {fill: $statement-color;}
      rect.claim {fill: $claim-color;}
      rect.fact {fill: $fact-color;}
      rect.INstr {fill: $INstr;}
      rect.INdef {fill: $INdef;}
      rect.OUTstr {fill: $OUTstr;}
      rect.OUTdef {fill: $OUTdef;}
      rect.AMBIG {fill: $AMBIG;}
      rect.UNSUP {fill: $UNSUP;}

      .node-label {
        rect.INstr {fill: $INstr;}
        rect.INdef {fill: $INdef;}
        rect.OUTstr {fill: $OUTstr;}
        rect.OUTdef {fill: $OUTdef;}
        rect.AMBIG {fill: $AMBIG;}
        rect.UNSUP {fill: $UNSUP;}
      }

    }

  .edge {
      text.INstr {fill: $INstr;}
      text.INdef {fill: $INdef;}
      text.OUTstr {fill: $OUTstr;}
      text.OUTdef {fill: $OUTdef;}
      text.AMBIG {fill: $AMBIG;}
      text.UNSUP {fill: $UNSUP;}

      path  {stroke: $edge-color !important;}
  }

  .arrow-head {fill: $edge-color;}

  }
}

:host-context(.dark-theme) .chart-outer-container {
  $color-bg: #1b1e27;
  $color-node-text: #fff;
  $color-tooltip: white;

  $edge-color: #a9a9a9; //#666;
  $statement-color: #3E50B4;//#3F51B5; //#66BD6D
  $claim-color: #2095F2; //#7C4DFF; //#7C4DFF; //#E1BEE7; //#55ACD2;
  $fact-color: #663AB6;//#7B1FA2; //#29BB9C;

  $INstr: #66BD6D;
  $INdef: #29BB9C;
  $OUTstr: #E96B56;
  $OUTdef: #E96B56;
  $AMBIG: #FAA026;
  $UNSUP: #E96B56;



  background: $color-bg;

  .ngx-graph {
    .tooltip-anchor {
      fill: $color-tooltip;
    }
  }

  .chart-container{
    .node {
      text {fill: $color-node-text;}
      rect.statement {fill: $statement-color;}
      rect.claim {fill: $claim-color;}
      rect.fact {fill: $fact-color;}
      rect.INstr {fill: $INstr;}
      rect.INdef {fill: $INdef;}
      rect.OUTstr {fill: $OUTstr;}
      rect.OUTdef {fill: $OUTdef;}
      rect.AMBIG {fill: $AMBIG;}
      rect.UNSUP {fill: $UNSUP;}

      .node-label {
        rect.INstr {fill: $INstr;}
        rect.INdef {fill: $INdef;}
        rect.OUTstr {fill: $OUTstr;}
        rect.OUTdef {fill: $OUTdef;}
        rect.AMBIG {fill: $AMBIG;}
        rect.UNSUP {fill: $UNSUP;}
      }

    }

  .edge {
      text.INstr {fill: $INstr;}
      text.INdef {fill: $INdef;}
      text.OUTstr {fill: $OUTstr;}
      text.OUTdef {fill: $OUTdef;}
      text.AMBIG {fill: $AMBIG;}
      text.UNSUP {fill: $UNSUP;}

      path  {stroke: $edge-color !important;}
  }

  .arrow-head {fill: $edge-color;}

  }
}
