/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import 'theme-variables.scss';

@include mat-core();


$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

@include angular-material-theme($light-theme);



.dark-theme {
  @include angular-material-theme($dark-theme);

  .snackbar-error {
    color: mat-color($dark-warn);
  }
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #666;
}


span.spacer {
  flex-grow: 1;
  text-align: center;
}

.snackbar-error {
  color: mat-color($light-warn);
}
